body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.games-table,
.injury-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.games-table th,
.games-table td,
.injury-table th,
.injury-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.games-table th,
.injury-table th {
    background-color: #f2f2f2;
}

.games-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* 新增的樣式 */
.status-gtd {
    color: green;
    /* GTD 狀態的顏色 */
}

.status-out {
    color: red;
    /* Out 狀態的顏色 */
}

.centered {
    position: fixed;
    /* 使用固定定位 */
    top: 50%;
    /* 顶部距离视口的50% */
    left: 50%;
    /* 左边距离视口的50% */
    transform: translate(-50%, -50%);
    /* 向左和向上移动50%的自身宽度和高度 */
    z-index: 1000;
    /* 确保它在页面上方 */
    background-color: white;
    /* 背景颜色 */
    padding: 20px;
    /* 内边距 */
    border: 1px solid #ddd;
    /* 边框 */
    text-align: center;
    /* 文字居中 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* 阴影效果 */
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.dot {
    animation: blink 1.4s infinite;
    animation-fill-mode: both;
}

#dot1 {
    animation-delay: 0s;
}

#dot2 {
    animation-delay: 0.2s;
}

#dot3 {
    animation-delay: 0.4s;
}

.injury-list-button-container {
    text-align: center;
    /* 置中按鈕 */
    margin-bottom: 10px;
    /* 與傷兵名單的間距 */
}

.injury-list-toggle-button {
    background-color: rgba(0, 123, 255, 0.1);
    /* 透明背景 */
    border: 2px solid rgba(0, 123, 255, 0.5);
    /* 半透明邊框 */
    color: #007bff;
    /* 文字顏色 */
    padding: 5px 10px;
    /* 內邊距 */
    border-radius: 5px;
    /* 圓角邊框 */
    cursor: pointer;
    /* 鼠標樣式 */
    transition: all 0.3s ease;
    /* 過渡效果 */
}

.injury-list-toggle-button:hover {
    background-color: rgba(0, 123, 255, 0.2);
    /* 滑鼠懸停時的背景色 */
}

.no-injuries {
    text-align: center;
    /* 文本置中 */
    color: #dc3545;
    /* 文本顏色，這裡使用了一種紅色調 */
    padding: 10px;
    /* 上下左右的內邊距 */
    font-weight: bold;
    /* 字體加粗 */
}